body {
   background: rgb(255, 255, 255);
   text-align: center;
   color: rgb(0, 0, 0);
   font-family: monospace;
}

h1 {
   color: #3e7122;
   font-family: Helvetica;
}

p {
   color: #c9360a;
   font-family: Helvetica;
}